.btn-group.mode-select.date-mode-select{data: {mode: params[:time_mode] || "month"}}
  %button.btn.btn-sm.btn-success.btn-outline.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
    %span.text $
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    %li
      %a{data: {mode: 'day'}} All
    %li.divider
    %li
      %a{data: {mode: 'day'}} Under 7
    %li
      %a{data: {mode: 'week'}} 7-12
    %li
      %a{data: {mode: 'month'}} 12-20
    %li
      %a{data: {mode: 'year'}} 20-30
    %li.divider
    %li
      %a{data: {mode: 'all'}} Over 30