.btn-group.mode-select.price-range-select{data: {mode: params[:price_range] || "all"}}
  %button.btn.btn-sm.btn-success.btn-outline.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
    %span.text $
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    %li
      %a{data: {mode: 'all'}} All
    %li.divider
    - Place::PRICE_RANGES.each do |pr|
      - if pr == "Over 30"
        %li.divider
      %li
        %a{data: {mode: pr}}= pr
