.container-fluid
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-default
        .panel-body
          .col-md-3
            %img.img-responsive.img-thumbnail{:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c44.44.552.552/s160x160/484015_2278357474733_1821449611_n.jpg?oh=7be1c82f8505beec65b0441a4d102326&oe=548A742C&__gda__=1418517020_83946670a91821ceae98ed159b948431"}
            %h3{:style => "padding-left:20px;"} Tyler Ruby