<script type="text/html" id="comment-row-template">
  <tr>
    <td style="border-top:none;">
      <a class="btn btn-default btn-md glyphicon glyphicon-chevron-up js-upvote <%%=upvoted_class%>" href="/api/places/<%%=commentable_id%>/comments/<%%=id%>/up_vote" style="font-size:14px;border-color:#e8e8e8;background:#fff;">
        <%%=votes_count%>
      </a>
    </td>
    <td style="border-top:none;">
      <div class="media">
        <a class="pull-left" href="/users/<%%=user_id%>">
          <img class="media-object" src="<%%=user_image%>" />
        </a>
        <div class="media-body">
          <h5 class="media-heading">
            <a href="/users/<%%=user_id%>"><%%=user_name%></a>
          </h5>
          <%%=comment%>
        </div>
      </div>
    </td>
  </tr>
</script>
