<script type="text/html" id="comment-row-template">
  <tr>
    <td style="border-top:none;">
      <a class="btn btn-default btn-sm glyphicon glyphicon-chevron-up js-upvote <%%=upvoted_class%>" href="/api/places/<%%=commentable_id%>/comments/<%%=id%>/up_vote" style="font-size:14px;border:none;background:whitesmoke;">
        <%%=votes_count%>
      </a>
    </td>
    <td style="border-top:none;">
      <a href="/users/<%%=user_id%>"><%%=user_name%></a>
    </td>
    <td style="border-top:none;"><%%=comment%></td>
  </tr>
</script>
