<script type="text/html" id="menu-item-row-template">
  <tr data-id="<%%=id%>" data-place-id="<%%=place_id%>" id="dish-<%%=id%>">
    <td style="border-top:none;">
      <a class="btn btn-default btn-sm glyphicon glyphicon-chevron-up js-upvote <%%=upvoted_class%>" href="/api/places/<%%=place_id%>/menu_items/<%%=id%>/up_vote" style="font-size:14px;border-color:#e8e8e8;background:#fff;">
        <%%=votes_count%>
      </a>
    </td>
    <td style="border-top:none;"><%%=name%></td>
    <td style="border-top:none;">$<%%=price%></td>
    <td style="border-top:none;">
      <img class="pull-right" src="<%%= preview_image_url %>">
    </td>
  </tr>
</script>
