<script type="text/html" id="menu-item-row-template">
  <tr>
    <td style="border-top:none;">
      <a class="btn btn-default btn-sm glyphicon glyphicon-chevron-up js-upvote <%%=upvoted_class%>" href="/api/places/<%%=place_id%>/menu_items/<%%=id%>/up_vote" style="font-size:14px;border:none;background:whitesmoke;">
        <%%=votes_count%>
      </a>
    </td>
    <td style="border-top:none;">
      <img src="<%%=image_url%>">
    </td>
    <td style="border-top:none;"><%%=name%></td>
    <td style="border-top:none;">$<%%=price%></td>
  </tr>
</script>
