<script type="text/html" id="place-row-template">
  <tr data-id="<%%=id%>" id="place-<%%=id%>">
    <td>
      <strong class="count" style="font-size:18px;">
      </strong>
    </td>
    <td style="border-top:none;" class="hidden-xs">
      <a href="/places/<%%=id%>" class="place">
        <img style="border-radius: 4px;" src="<%%= preview_image_url %>">
      </a>
    </td>
    <td>
      <a class="js-upvote btn btn-sm btn-default glyphicon glyphicon-chevron-up <%%=upvoted_class%>" href="/api/places/<%%=id%>/up_vote" style="font-size:14px;border-color:#e8e8e8;background:#fff;">
        &nbsp;<%%=votes_count%>
      </a>
    </td>
    <td>
      <span style="font-size:14px;margin-left:5px;margin-top:5px;">
        <a href="/places/<%%=id%>" class="place">
          <%%= title %>
        </a>
        <%%= organic_label %>
        <br />
        &nbsp;
        <span style="font-size:13px;">
        <%%= cuisine_type%>
        &nbsp; &nbsp;
        </span>
        <span style="font-size:12px;">
        <%%= price_range %>
        </span>
      </span>
    </td>
    <td>
      <a href="<%%=direction_link%>" target="_blank" class="btn btn-sm btn-default btn-outline fa fa-car pull-right">
        &nbsp;<%%=distance%>
      </a>
    </td>
  </tr>
</script>
