<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body test">
          <div style="font-size:22px;" class="panel-title">Atlanta, GA
            <img style="width:35px;" class="pull-right" src="http://www.tuindiner.nl/wp-content/uploads/2013/03/mas-fork.png"></img>
          </div>
        </div>
        <div style='width: 748px;'>
  		  <div id="map" style='width: 748px; height: 327px;'></div>
		</div>

        <div class="panel-heading">
          <div class="row">
            <div class="col-md-3">
              <button class="btn btn-default">Now</button>
            </div>
          	<div class="col-md-3 col-md-offset-6">
		          <div class="range range-primary">
		           <input type="range" name="range" min="1" max="50" value="10" onchange="range.value=value">
		            <output id="range">10 miles</output>
		          </div>
		        </div>
		      </div>
        </div>
	      <table class="table">
		      <tbody>
            <% @places.each do |place| %>
  		        <tr>
  		          <td style="border:none;">
  		          <span class="btn btn-sm btn-default glyphicon glyphicon-chevron-up">10
  		          </span>
  		          <span style="font-size:16px;margin-left:5px;margin-top:5px;"><strong><%= place.title %></strong></span>
  		          </td>
  		          <td>$4.50</td>
  		        </tr>
            <% end %>
	        </tbody>
	  		</table>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      marker = handler.addMarker({
          "lat": <%= @lat %>,
          "lng": <%= @long %>,
          "infowindow": "Current Location"
        });
      handler.map.centerOn(marker);
      handler.getMap().setZoom(12);
    });
  </script>
<% end %>
