$body-bg: #e5e5e5;
$navbar-default-bg: #fff;



@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

a.place {
  color: #000;
  text-decoration: none; /* no underline */
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}

.test {
	padding:5px;
}
