$body-bg: #fff;
$navbar-default-bg: #7D6FB0;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: whitesmoke;
$btn-primary-color: #7D6FB0;
$btn-primary-border: #7D6FB0;
$btn-primary-bg: #7D6FB0;
$btn-default-border: #000;
$border-radius-base: 0;



@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.navbar-default {
border:none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle {
background-color: whitesmoke;
}

@media screen and ( max-width: 500px ) {
  #map {
    width: 100%; 
    height: 250px;
  }
}
@media screen and ( min-width: 500px ) {
  #map {
    width: 100%; 
    height: 550px;
  }
}

@media(max-width:767px){
    #map {
    width: 100%; 
    height: 250px;
  }
}
@media(min-width:768px){
  #map {
    width: 100%; 
    height: 350px;
  }
}
@media(min-width:992px){
  #map {
    width: 100%; 
    height: 500px;
  }
}
@media(min-width:1200px){
  #map {
    width: 100%; 
    height: 550px;
  }
}


a.place {
  color: #000;
  text-decoration: none; /* no underline */
}

a {
	color: #7D6FB0;
}
a:hover {
	text-decoration: none;
}

.test {
	padding:5px;
}


.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #7D6FB0;
}
.btn-default.btn-outline:hover,
.btn-default.btb-outline.active {
    color: #fff;
    background:#000;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

tr.highlight td {
  background-color: #f5f2f8;
}
