= form_for :place, url: places_path,
  html: { class: 'navbar-form navbar-left' } do |f|
  .form-group
    = f.text_field :title, class: 'form-control', placeholder: 'Add location'
    = f.submit 'Save', class: 'btn btn-default'