= form_for :place, url: places_path,
  html: { id: 'location-form', class: 'hide navbar-form navbar-left' } do |f|
  .form-group
    = f.text_field :title, class: 'form-control', placeholder: 'Add a place'
    = f.submit 'Save', class: 'btn btn-default'
