// Preload map images
%div{style: "width: 1px; height: 1px; overflow: hidden; position: absolute; left: 100px;"}
  - for i in 0..100
    = image_tag "/images/mapicons/red/number_#{i}.png"
    = image_tag "/images/mapicons/purple/number_#{i}.png"
