.container
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-default
        .panel-body.test
          .panel-title{:style => "font-size:22px; margin-top:5px; margin-left:10px;"}
            Atlanta, GA
        %div{:style => "width: 100%"}
          #map{:style => "width: 100%; height: 327px;"}
        .panel-heading{:style => "background:#fff;"}
          .row
            .col-md-5
              .btn-group
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  Now
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Today
                  %li
                    %a{:href => "#"} Week
                  %li
                    %a{:href => "#"} Month
                  %li.divider
                  %li
                    %a{:href => "#"} All
              %button.btn.btn-default.fa.fa-cutlery
              %button.btn.btn-default.fa.fa-beer
              %button.btn.btn-default.fa.fa-music
            .col-md-3.col-md-offset-3
              .range.range-primary
                %input{:max => "50", :min => "1", :name => "range", :onchange => "range.value=value", :type => "range", :value => "10"}
                  %output#range 10 miles
        %table.table.table-striped.striped{:style => ""}
          %tbody
            - @places.each do |place|
              %tr
                %td
                  %span.btn.btn-sm.btn-default.glyphicon.glyphicon-chevron-up
                    10
                  %span{:style => "font-size:16px;margin-left:5px;margin-top:5px;"}
                    %strong= place.title
                %td $4.50

- content_for :scripts do
  :javascript
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        marker = handler.addMarker({
            "lat":  #{@lat},
            "lng":  #{@long},
            "infowindow": "Current Location"
        });
        handler.map.centerOn(marker);
        handler.addMarkers(#{raw @hash.to_json});
        handler.getMap().setZoom(14);
    });