.container-fluid
  .row
    .col-md-7
      .panel.panel-default
        .panel-body.test
          .panel-title{:style => "font-size:22px; padding-bottom:-1px; margin-left:10px;"}
            %img{:src => "http://i.imgur.com/rDLxYAO.png", :style => "width:30px;"}
            = current_city
          %div{:style => "width: 100%"}
            #map{:style => "width: 100%; height: 550px;"}
    .col-md-5
      .panel.panel-default
        .panel-heading{:style => "background:#fff;"}
          .row
            .col-md-12
              .btn-group
                %button.btn.btn-primary.btn-outline.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  This Month
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Now
                  %li
                    %a{:href => "#"} Today
                  %li
                    %a{:href => "#"} Week
                  %li.divider
                  %li
                    %a{:href => "#"} All
              %button.btn.btn-danger.btn-outline Now
              %button.btn.btn-success.btn-outline Open
              %button.btn.btn-warning.btn-outline.fa.fa-cutlery.pull-right
              %button.btn.btn-default.btn-outline.fa.fa-beer.pull-right
              %button.btn.btn-info.btn-outline.fa.fa-music.pull-right
        %table.table.table-condensed#places-table
        %a.btn.btn-default.js-more-places.hidden Load More

- content_for :scripts do
  :javascript
    window.latitude = #{@lat};
    window.longitude = #{@long};
