= render 'preload_images'
.container-fluid
  .row
    .col-sm-6
      .panel.panel-default
        .panel-body.test
          .panel-title{:style => "font-size:22px; padding-bottom:-1px; margin-left:10px;"}
            = current_city
        %div{:style => "width: 100%"}
          #map
    .col-sm-6
      .panel.panel-default.map-control-panel
        .panel-heading
          .row
            .col-md-12
              .btn-group.date-mode-select
                %button.btn.btn-primary.btn-outline.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  %span.text Month
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{data: {mode: 'day'}} Today
                  %li
                    %a{data: {mode: 'week'}} Week
                  %li
                    %a{data: {mode: 'month'}} Month
                  %li
                    %a{data: {mode: 'year'}} Year
                  %li.divider
                  %li
                    %a{data: {mode: 'all'}} All
              %button.btn.btn-default.btn-outline New
              %button.btn.btn-success.btn-outline Open
              #kind-toggles.btn-group.pull-right{data: {toggle: :buttons}}
                %button#food-toggle.btn.btn-danger.btn-outline.fa.fa-cutlery
                %button#bar-toggle.btn.btn-warning.btn-outline.fa.fa-beer
                %button#club-toggle.btn.btn-info.btn-outline.fa.fa-music
        .panel-body
          %table.table.table-condensed#places-table
          %a.btn.btn-default.js-more-places.hidden Load More

- content_for :scripts do
  :javascript
    window.latitude = #{@lat};
    window.longitude = #{@long};
