= render 'preload_images'
.container-fluid
  .row
    .col-sm-7{:style => "padding-left:0px;padding-right:0px;"}
      .panel.panel-default
        %div{:style => "width: 100%"}
          #map
    .col-sm-5{:style => "padding-left:0px;padding-right:0px;"}
      .panel.panel-default.map-control-panel
        .panel-heading
          .row
            .col-md-12
              = render 'shared/controls/time_mode_select'
              %button.btn.btn-default.btn-outline New
              #kind-toggles.btn-group.pull-right{data: {toggle: :buttons}}
                %button#food-toggle.btn.btn-danger.btn-outline.fa.fa-cutlery
                %button#bar-toggle.btn.btn-warning.btn-outline.fa.fa-beer
                %button#club-toggle.btn.btn-info.btn-outline.fa.fa-music
        .panel-body{:style => "padding:0px;"}
          %table.table.table-condensed.js-dynamic-table#places-table
          %a.btn.btn-default.js-more-places.hidden{:style => "margin-left:10px;margin-bottom:10px;"} Load More

- content_for :scripts do
  :javascript
    window.latitude = #{@lat};
    window.longitude = #{@long};
