.container-fluid
  .row
    .col-md-4.col-md-offset-1
      .panel.panel-default
        .panel-body{:style => "padding:0;"}
          .row
            .col-md-6
              = image_tag @place.image.url(:thumb), class: 'img-responsive'
            .col-md-5
              %h4
                %span.label.label-success.pull-right Open
                = @place.title.classify
              %h5 1424 Braxford Trace, Lawrenceville, GA 3004
              %h4
                %a.btn.btn-sm.btn-default.btn-outline.fa.fa-car.pull-right{:href=> "http://www.google.com", :target => "_blank"}
                Type:
                %a{:href => "http://www.google.com"} Food
      .panel.panel-default
        .panel-body{:style => "padding:0;"}
          .row
            .col-md-12
              %img.img-responsive{:src => "http://i.imgur.com/zmQPrLb.png"}
      .panel.panel-default
        .panel-heading
          %h3.panel-title People that like this place
        .panel-body
          %img{:src => "http://i.imgur.com/TFwKwId.png", :style => "width:50px; height:50px;"}/
          %img{:src => "http://i.imgur.com/x3GGS4h.png", :style => "width:50px; height:50px;"}/
    .col-md-5
      .panel.panel-default
        .panel-body{:style => "padding:0;"}
          %img.img-responsive{:src => "http://i.imgur.com/X3HEx8T.jpg"}
        .panel-body{:style => "padding:5px;"}
          %img{:src => "http://placehold.it/70x70"}
          %img{:src => "http://placehold.it/70x70"}
          %img{:src => "http://placehold.it/70x70"}
          %img{:src => "http://placehold.it/70x70"}
    .col-md-5
      .panel.panel-default.map-control-panel
        .panel-heading
          .row
            .col-md-12
              .btn-group.date-mode-select
                %button.btn.btn-primary.btn-outline.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  %span.text Month
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{data: {mode: 'day'}} Today
                  %li
                    %a{data: {mode: 'week'}} Week
                  %li
                    %a{data: {mode: 'month'}} Month
                  %li
                    %a{data: {mode: 'year'}} Year
                  %li.divider
                  %li
                    %a{data: {mode: 'all'}} All
              %button.btn.btn-default.btn-outline New
        %table.table
          %tbody
            %tr
              %td{:style => "border-top:none;"} 1
              %td{:style => "border-top:none;"}
                %strong Tyler
              %td{:style => "border-top:none;"} Test comments comments comments
            %tr
              %td 1
              %td
                %strong Tyler
              %td I really like this placeI really like this placeI really like this placeI really like this placeI really like this placeI really like this placeI really like this placeI really like this place
            %tr
              %td 1
              %td
                %strong Tyler
              %td Another random comment right here
