.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-body.test
          %img.img-rounded{:src => "http://i.imgur.com/EwuuJiN.jpg", :style => "width:100%;"}
          %h3
            = @place.title.classify
            %span{:class => "label label-success pull-right"} Open
          %h4 Average Price: $10.00
          = @place.address
          %img{:src => "http://i.imgur.com/7qZJl0k.png", :style => "width:100%; height:250px;"}
