%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Spot', root_path, class: 'navbar-brand'
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
      = render 'places/form'
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li= link_to 'New Spot', '#', id: 'add-location'
        %li= link_to "Login", new_user_session_path

:javascript
  $('#add-location').on('click', function(e){
    e.preventDefault();
    $('#location-form').toggleClass('hide');
  });