%nav.navbar.navbar-default.fixed-top{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("http://i.imgur.com/8tVVls8.png", size: "180x45"), root_path, class: "navbar-brand", style: "padding-top:0px;"
    .div.navbar-form.navbar-left
      .form-group
        %input#place-search.form-control{type: "text", placeholder: "City or Neighborhood"}

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{style: "cursor: pointer;", data: {toggle: "modal", target: "#add-place-modal"}} Add Restaurant
        - if user_signed_in?
          %li= link_to('Logout', destroy_user_session_path, :method => :delete)
        - else
          %li= link_to "Login", new_user_session_path